/* font family */
*{
 font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
}


/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.navTitle{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
   
}
.texPrimary{
    color: #fd6e0a;
}
.buttonPrimary{
    border-radius: 5px;
    color: #ffffff;
    background-color: #fd6e0a;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    padding: 15px 35px;

}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* nav button{
  
} */

   /* header style */
   .header{
    background-color: #FFF8F3;
    background-image: url('../img/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannerContain{
    max-width: 500px;
}
.banner .profilePic{
    width: 500px;
    /* width: 584px;
    height: 676px;
    flex-shrink: 0; */
}
.bannerGreeting{
    color:#474747;
    font-size: 45px;
    margin-bottom: 0px;
}
.bannerTitle{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.bannerP{
color:  #757575;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
/* main section style */

/* about section style */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
}
.sectionTitle{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}